@font-face {
    font-family: DIGII;
    src: url(DS-DIGII.TTF);
}

body {
    background-color: #000;
}

#clock {
  height: 30rem;
  width: 80rem;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding-top: 70px;
  text-align: center;
  font-family: DIGII;
  color: #FFFB00;
  font-size: 20em;
}

